wsclientgen/src/main/resources/wsdl/customerCreate.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CustomerCreateServiceService" targetNamespace="http://customer.simulator.brm.sga.oi.com.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://customer.simulator.brm.sga.oi.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://customer.simulator.brm.sga.oi.com.br/" version="1.0" xmlns:tns="http://customer.simulator.brm.sga.oi.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="create" type="tns:create" />
<xs:element name="createResponse" type="tns:createResponse" />
<xs:complexType name="create">
<xs:sequence>
<xs:element minOccurs="0" name="customer" type="tns:customer" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="customer">
<xs:sequence>
<xs:element minOccurs="0" name="id" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="create">
    <wsdl:part element="tns:create" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part element="tns:createResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerCreateService">
    <wsdl:operation name="create">
      <wsdl:input message="tns:create" name="create">
    </wsdl:input>
      <wsdl:output message="tns:createResponse" name="createResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerCreateServiceServiceSoapBinding" type="tns:CustomerCreateService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="create">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerCreateServiceService">
    <wsdl:port binding="tns:CustomerCreateServiceServiceSoapBinding" name="CustomerCreateServicePort">
      <soap:address location="http://localhost:8080/sga-brm-simulator/customer/create" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>